In [2]:

import pandas as pd

In [3]:
d1=pd.DataFrame(pd.read_csv("./files/fraud_oracle.csv"))
d1.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

In [4]:
new_df=d1.select_dtypes(include=['int64','int32','float','double'])
new_df

,WeekOfMonth,WeekOfMonthClaimed,Age,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Year
0,5,1,21,0,1,12,300,1,1994
1,3,4,34,0,2,15,400,4,1994
2,5,2,47,0,3,7,400,3,1994
3,2,1,65,0,4,4,400,2,1994
4,5,2,27,0,5,3,400,1,1994
...,...,...,...,...,...,...,...,...,...
15415,4,5,35,1,15416,5,400,4,1996
15416,5,1,30,0,15417,11,400,3,1996
15417,5,1,24,1,15418,4,400,4,1996
15418,1,2,34,0,15419,6,400,4,1996
15419,2,3,21,1,15420,3,400,4,1996

In [23]:
d1["AgentType"].value_counts()

AgentType
External    15179
Internal      241
Name: count, dtype: int64

In [20]:
d1["BasePolicy"].value_counts()

BasePolicy
Collision     5962
Liability     5009
All Perils    4449
Name: count, dtype: int64

**Does BMI of males differ significantly from that of females?**
-  **Step 1**: State the null and alternative hypothesis
- **Null Hypothesis**: proportions of fraud cases in rural and urban area are equal.
- **Alternative Hypothesis**: proportions of fraud cases in rural and urban area are not equal.

- **Step 2**:Select an appropriate statistical test and the corresponding test statistic
- We select proportion_ztest 
- **Step 3**: Choose level of significance
- alpha = 0.05

- **Step 4** : Collection of data and calculate value of test case

In [37]:
rural_fraud_cases = d1[d1["AccidentArea"] == "Rural"]["FraudFound_P"]
urban_fraud_cases = d1[d1["AccidentArea"] == "Urban"]["FraudFound_P"]

In [40]:
count_fraud=[rural_fraud_cases.sum(),urban_fraud_cases.sum()]
total_no=[len(rural_fraud_cases),len(urban_fraud_cases)]

In [41]:
from statsmodels.stats.proportion import proportions_ztest

In [42]:
t_statistic, p_value = proportions_ztest(count_fraud,total_no)
print(f't_statistic: {t_statistic}\np_value: {p_value}')

t_statistic: 4.159872677809211
p_value: 3.184250525070154e-05

In [43]:
#comparing value with alpha 
alpha=0.05
p_value > alpha

False

- **Since, we have got false as result , we conclude that WE REJECT THE NULL HYPOTHESIS as there is enough evidence that fraud cases are different in urban ad rural acciden area.**